body {
  background: black;
}

h1 {
  color: teal;
}

.name {
  color: gray;
}

h2 {
  color: tomato;
}

a {
  text-decoration: none;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:hover {
  color: teal;
  font-size: large;
}
